:root{
    --black: #1f1f1f;
    --white: #FFFFFF;
    --gold: #CDA434;
    --darkgold: #725d13
}

body{
    background: var(--black);
    color: var(--gold);
}

.working{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.working span{
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
}
